.flowZone {
  height: 89vh;

}

.textZone {
  height: 88vh;
}

.textZone textarea {
  border:none;
}

#dropdownPedals {
	
	margin-left:1vw;
}

.inBox {
	position: fixed;
  	top: -20px;
  	left: 20px;
  	width: 30px;
}

.modal-body{
	min-height: 50vh;
}