  <div class="pedalboard"
        ng-controller="PedalboardCtrl"
        mouse-capture
        ng-keydown="keyDown($event)"
        ng-keyup="keyUp($event)"
        >

        <!-- Modal -->
        <div class="modal fade" id="pedalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title center" id="pedalName"></h5>
                
              </div>
              <div class="modal-body box">
                <div class="pots row center">

                </div>
                <hr>
                <div class="switch center">
                  <label>
                    Off
                    <input class="switchPedal" ng-click="switchTouched = true" type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="saveModal($event)" class="waves-effect waves-light btn brown" data-dismiss="modal">Save</button>
                <button type="button" ng-click="closeModal()" class="waves-effect waves-light btn brown" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div>





        <nav class="brown">
        
          <div class="nav-wrapper">

            <ul class="left">
              <li class="" ng-class='{open: open}'>
                <a href="" ng-click='open=!open' data-toggle="dropdownPedals" class="waves-effect waves-light dropdown-toggle btn brown lighten-1" data-activates="dropdownPedals" title="Add a new pedal on the pedalboard"><i class="material-icons left">add</i>Add pedal</a>

                <!-- Dropdown Structure -->
                <ul id="dropdownPedals" class="dropdown-menu ">
                  <li class="center" ng-repeat="pedal in pedals.pedals track by $index"><a ng-click="addNewNode($index)" href="" class="waves-effect waves-light lighten-2">{{pedal.name}}</a></li>
                </ul>
              </li>
              
              <li><a href="" class="waves-effect waves-light btn brown lighten-1" ng-click="addNewInputConnector()"
              ng-disabled="chartViewModel.getSelectedNodes().length == 0"
              title="Add a new input to the selected pedal"><i class="material-icons left">vertical_align_bottom</i>Add input</a></li>
              
              <li><a href="" class="waves-effect waves-light btn brown lighten-1" ng-click="addNewOutputConnector()"
                ng-disabled="chartViewModel.getSelectedNodes().length == 0"
                title="Add a new output to the selected pedal"><i class="material-icons left">vertical_align_top</i>Add output</a></li>
              
              <li><a href="" class="waves-effect waves-light btn brown lighten-1" ng-click="deleteSelected()"
                ng-disabled="chartViewModel.getSelectedNodes().length == 0 && chartViewModel.getSelectedConnections().length == 0"
                title="Delete selected pedals and connections"><i class="material-icons left">delete</i>Delete</a></li>
            </ul>


            <ul class="right valign-wrapper">
            <li class="valign-wrapper">
              <div id='selMidi' class="form-group">
              <select class="form-control"  ng-model="activeDevice" ng-options="device.manufacturer + ' ' + device.name for device in devices">
                <option value="" disabled>Choose a MIDI device...</option>
              </select>
            </div>
            </li>
              <li><a class="waves-effect waves-light btn brown lighten-1 modal-trigger" ng-click="toggleCode()"
                title="Show pedalboard structure code"><i class="material-icons">code</i></a></li>
            </ul>
          </div>

        </nav>





          <div class="row">

            <div class="col s12 flowZone">
            <!--
            This custom element defines the flowchart.
            -->
              <flow-chart class="col s12"
                style="margin-left: 0px ; height: 100%;"
                  chart="chartViewModel"
                  >
              </flow-chart>
            </div>
          </div>


            <div id='codeZone' class="row">
              <div class="col s12 ">
                  <textarea class="col s12 textZone card brown lighten-5"
                  chart-json-edit
                  view-model="chartViewModel"
                  >
                </textarea>
              </div>
              <div class="col s12 center">
                <a class="waves-effect waves-light btn brown lighten-1 modal-trigger" ng-click="toggleCode()"
                title="Show pedalboard structure code"><i class="material-icons left">code</i> Hide code</a>
              </div>
                
            </div>

    </div>

